# Dependencies
node_modules/
terracota-frontend/node_modules/
terracota-backend/node_modules/

# Build outputs
terracota-frontend/dist/
terracota-frontend/build/

# Environment variables
.env
terracota-backend/.env
terracota-frontend/.env

# Logs
*.log
npm-debug.log*